*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body , html{
    margin: 0;
    height: 100%;
}
.bg-section{
    /* The image used */
    background-image: url("image/backgroundpage.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}